.header{
    
    width:100%;
    box-sizing:border-box;
    border-bottom: 1px solid rgb(226, 226, 226);
}
.header__logo{
    list-style:none;
    text-decoration:none;
    display: inline-block;
    margin:15px 0px 0px 25px;
}
.header__logo h1 {
    color: black;
    font-size:40px;
    text-align: left;
    font-weight: bold;
    letter-spacing: 4px;
}
.header__logo p{
    color: black;
    font-size: 15px;
    text-align: left;
    letter-spacing:2px;
}
.header__list{
    width:80%;
    height: 20px;
    text-align: right;
    margin-bottom: 15px;
    display: inline-block;
    
}
.header__list li{
    display:inline-block;
    
}
.header__list li a{
    display: block;
    font-size:12px;
    list-style:none;
    margin: 0px 20px;
    letter-spacing:1px;
    text-decoration:none;
    color: rgb(170, 170, 170);
}